.notification {
  position: fixed;
  padding: 10px;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  text-align: center;
  margin-bottom: 20px;
  display: inline-flex;
  align-items: flex-start;
  border-radius: 4px;
  background: #ff5b5b;
  color: #2c0000;

  span {
    margin-right: 10px;
  }

  svg {
    height: 20px;
    width: 20px;
  }
}