.pagination {
  margin: 30px 0;
  display: flex;

  .page {
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .pageCurrent {
    border-bottom: 2px solid #6ed8f6;
    font-weight: bold;
  }

}